.model-container{
    background: white;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close{
    position: absolute;
    right: 0px;
    top: -10px;
    width: 25px;
    height: 25px;
    color: red;
    font-size: 1rem;
    font-weight: bold;
    background:  #f44336;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
}